@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   * {
      @apply scroll-m-28;
   }
   html {
      @apply scroll-smooth;
   }
   body {
      @apply font-plusJakartaPlus bg-[#FAFCFF] dark:bg-slate-900;
   }
   section {
      @apply py-12 md:py-24;
   }
}

@layer components {
   .title {
      @apply text-xl md:text-2xl font-bold dark:text-white;
   }
   .subtitle {
      @apply text-sm md:text-base text-slate-600 dark:text-slate-400;
   }
   .btn-primary {
      @apply px-6 py-3 bg-blue-500 hover:bg-blue-900 transition ease-out rounded-lg text-white font-bold flex justify-center;
   }
   .bg-sticky {
      @apply bg-white md:bg-white/60 dark:bg-slate-900/70 backdrop-blur-lg shadow-sm;
   }
}

@layer utilities {
   .desc {
      @apply tracking-wide leading-relaxed text-slate-600 dark:text-slate-400;
   }
   .pemula {
      @apply px-2 py-1 text-green-500 font-bold uppercase tracking-wide bg-green-100 dark:bg-green-900 rounded-md;
   }
   .junior {
      @apply px-2 py-1 text-blue-500 font-bold uppercase tracking-wide bg-blue-100 dark:bg-blue-900 rounded-md;
   }
   .suhu {
      @apply px-2 py-1 text-red-500 font-bold uppercase tracking-wide bg-red-100 dark:bg-red-900 rounded-md;
   }
   .animation-delay-100 {
      animation-delay: 1s;
   }
   .animation-delay-200 {
      animation-delay: 2s;
   }
   .animation-delay-300 {
      animation-delay: 3s;
   }
   code {
      @apply !font-JetBrainsMono;
   }
}

::-webkit-scrollbar {
   width: 4px;
   height: 8px;
}
::-webkit-scrollbar-track {
   background: transparent;
}
::-webkit-scrollbar-thumb {
   background: #888;
   border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
   background: #555;
}
